body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Microsoft YaHei"
}

#mapDiv {
  margin: 0 auto;
  margin-top: 40px;
  width: 400px;
  height: 400px
}

input,
b,
p {
  margin-left: 5px;
  font-size: 14px
}
.search {
  font-size: 13px;
  border: 1px solid #999999;
}

.ls {
  line-height: 27px;
  padding-left: 7px;
}

.prompt {
  display: none;
  font-size: 13px;
  border: 1px solid #999999;
}

.statistics {
  display: none;
  font-size: 13px;
  border: 1px solid #999999;
  overflow-y: scroll;
  height: 150px;
}

.suggests {
  display: none;
  font-size: 13px;
  border: 1px solid #999999;
}

;
.lineData {
  display: none;
  font-size: 13px;
  border: 1px solid #999999;
}

.result {
  display: none;
  font-size: 12px;
  border: 1px solid #999999;
  line-height: 27px;
  padding-left: 7px;
}